@CHARSET "ISO-8859-1";
.adminbeforeupdateemployee{
	border:1px #cccccc solid;
	width:100%;
}
.adminbeforeupdateemployee1{
	margin:0 0 0 25%;
}
.adminbeforeupdateemployee2{
	color:#295D89;
	font-size:20px;
}
