@CHARSET "UTF-8";
.exceltest{
	border:1px #cccccc solid;
	width:100%;
}
.exceltest1{
	margin:0 0 0 10%;
}
.exceltest2{
	margin:0 0 0 10%;
}
#exceltest3{
	
	width:500px;
}
.exceltest4{
	color:#295D89;
	font-size:20px;
}
#exceltest5{
	border:1px solid #cccccc;
	width:500px;
}
#exceltest6{
	
	width:500px;
}
.exceltest7{
	color:#295D89;
	font-size:20px;
}
#exceltest8{
	border:1px solid #cccccc;
	width:500px;
}
#exceltest9{

	width:500px;
}
.exceltest10{
	color:#295D89;
	font-size:20px;
}
#exceltest11{
	border:1px solid #cccccc;
	width:500px;
}
#exceltest12{

	width:500px;
}
.exceltest13{
	color:#295D89;
	font-size:20px;
}
#exceltest14{
	border:1px solid #cccccc;
	width:500px;
}
#exceltest15{

	width:500px;
}
.exceltest16{
	color:#295D89;
	font-size:20px;
}
#exceltest17{
	border:1px solid #cccccc;
	width:500px;
}
.exceltest18{
	margin:0 0 0 10%;
}

