@CHARSET "UTF-8";
.adminhome1{
	width:100%;
	border:1px #cccccc solid;
	height:60px;
}
.adminhome2{
    width:10%;
}
.adminhome3{
	width:100%;
	color:#295D89;
	text-decoration:none;
}
.adminhome4{
	background-color:#295D89;
	color:white;
	width:160px;
}
.adminhome5{
    width:160px;
	font-size:15px;
	color:#295D89;
	border:1px #cccccc solid;
}
#adminhome6{
	font-size:10px;
	color:#295D89;
	align:right;
}
.adminhome7{
	background-color:#295D89;
	color:white;
	width:160px
}
.adminhome8{
	width:160px;
	font-size:15px;
	color:#295D89;
}
.adminhome9{
	background-color:#295D89;
	color:white;
	width:160px
}
.adminhome10{
	width:160px;
	font-size:15px;
	color:#295D89;
	border:1px #cccccc solid;
}
.adminhome11{
	background-color:#295D89;
	color:white;
	width:160px
}
.adminhome12{
	width:160px;
	font-size:15px;
	color:#295D89;
	border:1px #cccccc solid;
}
#adminhome13{
	font-size:13px;
	color:#295D89;
	align:right;
}
.adminhome14{
	width:100%;
	background-color:#295D89;
	color:white;
	font-size:13px;
}
.adminhome15{
	font-size:25px;
	color:white;
	background-color:#295D89;
	width:80%;
}
.adminhome16{
	width:10%;
	height:60px;
}
#adminhome17{
	font-size:13px;
	color:#295D89;
	align:right;
}
a{
	text-decoration:none;
}
.adminhome18{
	text-align:right;
}
.adminhome19{
	background-color:#295D89;
	color:white;
	width:160px
}
.adminhome20{
	width:160px;
	font-size:15px;
	color:#295D89;
	border:1px #cccccc solid;
}
.adminhome21{
	margin:0px 0px 0 0px;
}
/* .adminhome22{
	border:1px #cccccc solid;
} */
.adminhome23{
    margin:0 100% 0 80%;
}
#adminhome24{
    font-size:13px;
	color:#295D89;
	align:right;
}

