<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>springmvc</display-name>
  	<!-- 统一编码 -->
    <filter>
        <filter-name>charsetEncoding</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>charsetEncoding</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
    		<description>登陆验证拦截</description>
    		<filter-name>loginCheckFilter</filter-name>
    		<filter-class>com.springmvc.controller.LoginCheckFilter</filter-class>
    </filter>
    <filter-mapping>
    		<filter-name>loginCheckFilter</filter-name>
    		<url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
    		<filter-name>loginCheckFilter</filter-name>
    		<url-pattern>/adminshowalllotteryresult.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
    		<filter-name>loginCheckFilter</filter-name>
    		<url-pattern>/adminshowallmylog.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
    		<filter-name>loginCheckFilter</filter-name>
    		<url-pattern>/adminshowallmyplan.do</url-pattern>
    </filter-mapping>
    <!-- 前端控制器 -->
    <servlet>
        <servlet-name>springmvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <!-- 加载/WEB-INF/[servlet-name]-servlet.xml 
        <init-param>  
            <param-name>contextConfigLocation</param-name>  
            <param-value>classpath:springmvc-servlet.xml</param-value>  
        </init-param>  
        -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>springmvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <!-- jfreechart报表配置 -->
    <servlet>
        <servlet-name>DisplayChart</servlet-name>
        <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>DisplayChart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>  
    
    <!-- 加载log4j配置文件 -->  
  	<context-param>  
         <param-name>log4jConfigLocation</param-name>  
         <param-value>/WEB-INF/classes/log4j.properties</param-value>  
  	</context-param>  
  	<!--log4jRefreshInterval为100000表示 开一条watchdog线程每10秒扫描一下配置文件的变化;   -->  
  	<context-param>  
        <param-name>log4jRefreshInterval</param-name>  
        <param-value>100000</param-value>  
  	</context-param>  
  	<!-- 1. 动态的改变记录级别和策略，不需要重启Web应用; 2. 把log文件定在 /WEB-INF/logs/ 而不需要写绝对路径。 -->  
  	<listener>  
       <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>  
  	</listener> 
  
    <welcome-file-list>
	  <welcome-file>/userlogin/userlogin.jsp</welcome-file>
	</welcome-file-list>
</web-app>